node_modules/
dist/
.env
.env.local*
.vscode/
/coverage
yarn-error.log
/var/log
/reports/webpack/*.html
/reports/webpack/*.json
/reports/lighthouse/*.html
/reports/lighthouse/*.json
env.js
.DS_Store
.dccache

out
node_modules
.vscode-test/
*.vsix